In [5]:
import numpy as np
import pandas as pd

# initialize list of lists
data = [['Alex', 10], ['Sabari', 15], ['Syed', 14]]
empdf = pd. DataFrame(data, columns=['Name', 'Expereince in Years' ])
print(empdf)

     Name  Expereince in Years
0    Alex                   10
1  Sabari                   15
2    Syed                   14

In [59]:
# create datafram from array values

nparray1 = np.array([10, 20 ,30])
nparray2 = np.array([100, 200 ,300])
nparray3 = np.array([1000, 2000 ,3000, 4000])
df= pd.DataFrame([nparray1], columns = ["Col1", "Col2", "Col3"])
print (df)
df1 = pd.DataFrame([nparray1, nparray2, nparray3], columns = ["Col1", "Col2", "Col3", "Col4"])
print (df1)

   Col1  Col2  Col3
0    10    20    30
   Col1  Col2  Col3    Col4
0    10    20    30     NaN
1   100   200   300     NaN
2  1000  2000  3000  4000.0

In [36]:
# create datafram from dictionary values

dict_data = [{"Sunil" : 10 , "Kumar" : 20, "Test": 30} , {"Sunil" : 10 , "Kumar" : 20, "Test": 30}]
df2 = pd.DataFrame(dict_data, columns = ["Col1", "Col2"])
print (df2)

   Sunil  Kumar  Test
0     10     20  30.0
1     10     20   NaN

In [30]:
#Creation of DataFrame from Dictionary of Lists
dictState = {'State' : ['Assam', 'Delhi', 'Kerala'], 'GArea': [78438, 1483, 38852] ,
'VDF' : [2797, 6.72,1663]}
dFrameState = pd. DataFrame(dictState)
print(dFrameState)

    State  GArea      VDF
0   Assam  78438  2797.00
1   Delhi   1483     6.72
2  Kerala  38852  1663.00

In [84]:
#Creation of DataFrame Using Series but as list
seriesA = pd.Series ([1000,2000,3000], index = ['EmployeeClusterA' , 'EmployeeClusterB', 'EmployeeClusterC' ])
seriesB = pd.Series ([4000,5000,6000], index = ['EmployeeClusterA' , 'EmployeeClusterB', 'EmployeeClusterC' ])
print(seriesA)
print(seriesB)
dFrame7 = pd.DataFrame([seriesA, seriesB])
print(dFrame7)

EmployeeClusterA    1000
EmployeeClusterB    2000
EmployeeClusterC    3000
dtype: int64
EmployeeClusterA    4000
EmployeeClusterB    5000
EmployeeClusterC    6000
dtype: int64
   EmployeeClusterA  EmployeeClusterB  EmployeeClusterC
0              1000              2000              3000
1              4000              5000              6000

In [83]:

#Creation of DataFrame Using Series but as dictionary
dFrame7 = pd.DataFrame({'SeriesA': seriesA, 'SeriesB': seriesB})
print(dFrame7)

                  SeriesA  SeriesB
EmployeeClusterA     1000     4000
EmployeeClusterB     2000     5000
EmployeeClusterC     3000     6000

In [60]:
 pd.Series ([1000,2000,3000], index = ['EmpClusterA' , 'EmployeeClusterB', 'EmployeeClusterC' ])

EmpClusterA         1000
EmployeeClusterB    2000
EmployeeClusterC    3000
dtype: int64

In [52]:
#Creation of DataFrame from Dictionary of Series
TestSheet={ 'Alex': pd.Series([90, 91, 97], index=['NMS_TC','OTN_TC','WDM_TC']),
'Steve': pd.Series([80, 50, 100], index=['NMS_TC', 'OTN_TC' , 'WDM_TC']),
'Ram': pd.Series([100, 150, 200], index=['NMS_TC', 'OTN_TC' , 'WDM_TC' ])}

TestResultDF = pd.DataFrame(TestSheet)
TestResultDF1=pd.DataFrame()
print(TestResultDF)
#Adding Row
TestResultDF.loc['UI_TC'] = [85, 86, 83]
print(TestResultDF)
TestResultDF.loc['NMS_TC'] = [95, 96, 93]
print(TestResultDF)
#Removing a Row
TestResultDF1 = TestResultDF.drop('WDM_TC', axis=0)
print(TestResultDF)
print(TestResultDF1)

TestResultDF['Test'] = 100
print(TestResultDF)

        Alex  Steve  Ram
NMS_TC    90     80  100
OTN_TC    91     50  150
WDM_TC    97    100  200
        Alex  Steve  Ram
NMS_TC    90     80  100
OTN_TC    91     50  150
WDM_TC    97    100  200
UI_TC     85     86   83
        Alex  Steve  Ram
NMS_TC    95     96   93
OTN_TC    91     50  150
WDM_TC    97    100  200
UI_TC     85     86   83
        Alex  Steve  Ram
NMS_TC    95     96   93
OTN_TC    91     50  150
WDM_TC    97    100  200
UI_TC     85     86   83
        Alex  Steve  Ram
NMS_TC    95     96   93
OTN_TC    91     50  150
UI_TC     85     86   83
        Alex  Steve  Ram  Test
NMS_TC    95     96   93   100
OTN_TC    91     50  150   100
WDM_TC    97    100  200   100
UI_TC     85     86   83   100

In [90]:
# Create a sample DataFrame
data = {
'Category' : ['AI', 'Pandas', 'AI' , 'EDA', 'Pandas', 'AI', 'EDA'],
'Cohort1': [10, 15, 12, 8, 20, 11, 9],
'Cohort2': [5, 7, 6, 4, 8, 5, 4]}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

Original DataFrame:
  Category  Cohort1  Cohort2
0       AI       10        5
1   Pandas       15        7
2       AI       12        6
3      EDA        8        4
4   Pandas       20        8
5       AI       11        5
6      EDA        9        4

In [107]:
groupeddf = df.groupby('Category').agg(totalcohort = ('Cohort1','sum'))
print (groupeddf)

          totalcohort
Category
AI                 33
EDA                17
Pandas             35