In [1]:
#Creating a series using Pandas - scalar values

import numpy as np
import pandas as pd

a = [44, 55, 66]
srs = pd.Series(a)
print(srs)

0    44
1    55
2    66
dtype: int64

In [2]:
#Custom Index

srs = pd.Series(a, index = ['a','b','c'])
print(srs)

a    44
b    55
c    66
dtype: int64

In [3]:
#Changing a value from int to float and checking the dtype

a[2] = 55.0
srs = pd.Series(a, index = ['a','b','c'])
print(srs)

a    44.0
b    55.0
c    55.0
dtype: float64

In [4]:
#indexing via custom index

print(srs['a'])

44.0

In [5]:
#Though we use custom index, via the default index we can fetch the value however it throws a warning message

print(srs[0])

44.0

C:\Users\sunil\AppData\Local\Temp\ipykernel_26188\2007203620.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(srs[0])

In [8]:
# non scalar value
data = pd.Series(np.array([*'testleaf']))
print(data)

0    t
1    e
2    s
3    t
4    l
5    e
6    a
7    f
dtype: object

In [12]:
#Custom Index

word = 'testing'
start = 65
indx = []
for (index,i) in enumerate(word):
    indx.append(chr(start + index))
srs = pd.Series(np.array(list(word)), index = indx)
print(srs)

A    t
B    e
C    s
D    t
E    i
F    n
G    g
dtype: object

In [15]:
#loc and iloc
print(srs.loc['A':'F'])
print(srs.iloc[1:4])

A    t
B    e
C    s
D    t
E    i
F    n
dtype: object
B    e
C    s
D    t
dtype: object

In [66]:
# Creating dataframe using dictionary

employee_experience = {"Sunil": 10, "Kumar" : 15, "Test" : 20}
data_dictionary = pd.Series(employee_experience)
print(data_dictionary)

Sunil    10
Kumar    15
Test     20
dtype: int64

In [19]:
data1 = pd.Series(np.array(range(100,150)))
print(data1)

0     100
1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
26    126
27    127
28    128
29    129
30    130
31    131
32    132
33    133
34    134
35    135
36    136
37    137
38    138
39    139
40    140
41    141
42    142
43    143
44    144
45    145
46    146
47    147
48    148
49    149
dtype: int64

In [70]:
print(data1.head())

0    100
1    101
2    102
3    103
4    104
dtype: int64

In [75]:
print(data1.head(-4))

0     100
1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
26    126
27    127
28    128
29    129
30    130
31    131
32    132
33    133
34    134
35    135
36    136
37    137
38    138
39    139
40    140
41    141
42    142
43    143
44    144
45    145
dtype: int64

In [76]:
print(data1.tail())

45    145
46    146
47    147
48    148
49    149
dtype: int64

In [20]:
data1.iloc[49] = None
data1.info()

<class 'pandas.core.series.Series'>
RangeIndex: 50 entries, 0 to 49
Series name: None
Non-Null Count  Dtype
--------------  -----
50 non-null     int64
dtypes: int64(1)
memory usage: 532.0 bytes

In [78]:
data1.describe()

count     50.00000
mean     124.50000
std       14.57738
min      100.00000
25%      112.25000
50%      124.50000
75%      136.75000
max      149.00000
dtype: float64

In [81]:
s = pd.Series([1, -2, 3, 4, -5])

all_funcs = ["sum","mean","median","max","min","abs","prod","cumsum","cumprod"]
outputs = {}

for f in all_funcs:
    result = getattr(s, f)()
    outputs[f] = result

# Display scalar values
for k, v in outputs.items():
    if not isinstance(v, pd.Series):
        print(f"{k}: {v}")

# Combine the Series results into a DataFrame for comparison
df_series = pd.concat({k: v for k, v in outputs.items() if isinstance(v, pd.Series)}, axis=1)
print("\nSeries results:\n", df_series)

sum: 1
mean: 0.2
median: 1.0
max: 4
min: -5
prod: 120

Series results:
    abs  cumsum  cumprod
0    1       1        1
1    2      -1       -2
2    3       2       -6
3    4       6      -24
4    5       1      120

In [83]:
s = pd.Series([3, 1, 2, 3, 2])

# Methods that don't need arguments
funcs_no_args = ["sort_values", "sort_index", "drop_duplicates"]

results = {f: getattr(s, f)() for f in funcs_no_args}
for name, res in results.items():
    print(f"\n{name}:\n{res}")

sort_values:
1    1
2    2
4    2
0    3
3    3
dtype: int64

sort_index:
0    3
1    1
2    2
3    3
4    2
dtype: int64

drop_duplicates:
0    3
1    1
2    2
dtype: int64

In [84]:
s = pd.Series([3, 1, 2, 3, 2, 3])

# List of functions
funcs = ["unique", "nunique", "value_counts"]

# Call dynamically
results = {f: getattr(s, f)() for f in funcs}

# Display results
for name, res in results.items():
    print(f"\n{name}:\n{res}")

unique:
[3 1 2]

nunique:
3

value_counts:
3    3
2    2
1    1
Name: count, dtype: int64

In [99]:
s = pd.Series([3, 1, 2, 3, 2, 3])
s1 = pd.Series([5, 2, 4, 6, 1, 6])

# List of functions
funcs = ["add", "sub", "mul", "div"]

for func in funcs:
    method  = getattr(s,func)
    print(str(func), " ->\n",method(s1), "\n******************************")

add  ->
 0    8
1    3
2    6
3    9
4    3
5    9
dtype: int64
******************************
sub  ->
 0   -2
1   -1
2   -2
3   -3
4    1
5   -3
dtype: int64
******************************
mul  ->
 0    15
1     2
2     8
3    18
4     2
5    18
dtype: int64
******************************
div  ->
 0    0.6
1    0.5
2    0.5
3    0.5
4    2.0
5    0.5
dtype: float64
******************************

In [22]:
s = pd.Series([20, 30, 50, 20, None])
print(s)
print(s.dropna())
print(s.fillna(10))

0    20.0
1    30.0
2    50.0
3    20.0
4     NaN
dtype: float64
0    20.0
1    30.0
2    50.0
3    20.0
dtype: float64
0    20.0
1    30.0
2    50.0
3    20.0
4    10.0
dtype: float64