In [6]:
import numpy as np
import pandas as pd

array1 = np.array([10, 20, 30])
array2 = np.array([30, 40, 50])

df = pd.DataFrame([array1,array2])
print (df)

    0   1   2
0  10  20  30
1  30  40  50

In [7]:
series1 = pd.Series([100,200,300])
series2 = pd.Series([400,500])

df1 = pd.DataFrame([series1,series2])
print (df1)

       0      1      2
0  100.0  200.0  300.0
1  400.0  500.0    NaN

In [13]:
dict_Data = {'Mani' : [10,20,30], 'Alex' : [20,30,60]}
df2 = pd.DataFrame(dict_Data)
print (df2)

   Mani  Alex
0    10    20
1    20    30
2    30    60

In [15]:
"""
1. Creates a DataFrame:
TestCase Module Status Duration
TC1 Login Passed 12
TC2 Login Failed 15
TC3 Payment Passed 20
TC4 Payment Failed 18
TC5 Reports Passed 25
TC6 Reports Passed 22
"""
test_cases = [
    ['TC1', 'Login',  'Passed', 12],
    ['TC2', 'Login',  'Failed', 15],
    ['TC3', 'Payment','Passed', 20],
    ['TC4', 'Payment','Failed', 18],
    ['TC5', 'Reports','Passed', 25],
    ['TC6', 'Reports','Passed', 22]
]
df3 = pd.DataFrame(test_cases, columns = ['TestCase', 'Module', 'Status', 'Duration'])
print (df3)

  TestCase   Module  Status  Duration
0      TC1    Login  Passed        12
1      TC2    Login  Failed        15
2      TC3  Payment  Passed        20
3      TC4  Payment  Failed        18
4      TC5  Reports  Passed        25
5      TC6  Reports  Passed        22

In [55]:
#2. Groups by Status and counts Passed vs Failed.

df3.groupby('Status')['TestCase'].count()

Status
Failed    2
Passed    4
Name: TestCase, dtype: int64

In [43]:
#3. Groups by Module and finds average Duration per module.

df3.groupby('Module') ['Duration'].mean()

Module
Login      13.5
Payment    19.0
Reports    23.5
Name: Duration, dtype: float64

In [87]:
"""
1. Creates a DataFrame with defect details:
DefectID Module Severity Status
D1 Login High Open
D2 Payment Medium Closed
D3 Reports Low Open
D4 Login High Closed
D5 Payment Medium Open
"""
defects = [
    ['D1', 'Login',   'High',   'Open'],
    ['D2', 'Payment', 'Medium', 'Closed'],
    ['D3', 'Reports', 'Low',    'Open'],
    ['D4', 'Login',   'High',   'Closed'],
    ['D5', 'Payment', 'Medium', 'Open']
]
df4 = pd.DataFrame(defects, columns = ['DefectID', 'Module', 'Severity', 'Status'])
print (df4)

  DefectID   Module Severity  Status
0       D1    Login     High    Open
1       D2  Payment   Medium  Closed
2       D3  Reports      Low    Open
3       D4    Login     High  Closed
4       D5  Payment   Medium    Open

In [63]:
#2. Prints all Open defects.

df4[df4['Status']=='Open']

  DefectID   Module Severity Status
0       D1    Login     High   Open
2       D3  Reports      Low   Open
4       D5  Payment   Medium   Open

In [42]:
#3. Prints all High severity defects.

df4[df4['Severity']=='High']

  DefectID Module Severity  Status
0       D1  Login     High    Open
3       D4  Login     High  Closed

In [83]:
#4. Counts how many defects are Open vs Closed.

df4.groupby("Status")['Status'].count()

Status
Closed    2
Open      3
Name: Status, dtype: int64

In [88]:
df4

  DefectID   Module Severity  Status
0       D1    Login     High    Open
1       D2  Payment   Medium  Closed
2       D3  Reports      Low    Open
3       D4    Login     High  Closed
4       D5  Payment   Medium    Open

In [90]:
df4.to_csv('test.csv',index=False)

In [105]:
pd.DataFrame([['D6', 'Login',   'High',   'Open']]).to_csv('test.csv', mode = 'a', header = False, index=False)

In [106]:
pd.read_csv('test.csv')

  DefectID   Module Severity  Status
0       D1    Login     High    Open
1       D2  Payment   Medium  Closed
2       D3  Reports      Low    Open
3       D4    Login     High  Closed
4       D5  Payment   Medium    Open
5       D6    Login     High    Open

In [125]:
"""
1. Creates a DataFrame with the following data:
TestCase Status Duration
TC1 Passed 12
TC2 Failed 15
TC3 Passed 20
TC4 Failed 18
TC5 Passed 25
"""
tests = [
    ['TC1' , 'Passed' , 12],
    ['TC2' ,'Failed', 15],
    ['TC3','Passed', 20],
    ['TC4', 'Failed' ,18],
    ['TC5' ,'Passed', 25]
] 
df5 = pd.DataFrame(tests, columns = [ 'TestCase', 'Status', 'Duration'])

In [124]:
#Prints the DataFrame.
print(df5)

  TestCase  Status  Duration
0      TC1  Passed        12
1      TC2  Failed        15
2      TC3  Passed        20
3      TC4  Failed        18
4      TC5  Passed        25

In [123]:
#3. Selects and prints only the Status column.

df5['Status']

0    Passed
1    Failed
2    Passed
3    Failed
4    Passed
Name: Status, dtype: object

In [122]:
#4. Filters and prints only Failed test cases.

df5[df5['Status']=='Failed']

  TestCase  Status  Duration
1      TC2  Failed        15
3      TC4  Failed        18

In [118]:
#5. Saves the DataFrame as test_results.csv.

df5.to_csv('Tests.csv', index = False)

In [148]:
#6. Reads back the CSV into a new DataFrame.

new_df = pd.read_csv('Tests.csv')
print(new_df)

  TestCase  Status  Duration
0      TC1  Passed        12
1      TC2  Failed        15
2      TC3  Passed        20
3      TC4  Failed        18
4      TC5  Passed        25

In [149]:
help (new_df.insert)

Help on method insert in module pandas.core.frame:

insert(
    loc: 'int',
    column: 'Hashable',
    value: 'Scalar | AnyArrayLike',
    allow_duplicates: 'bool | lib.NoDefault' = <no_default>
) -> 'None' method of pandas.core.frame.DataFrame instance
    Insert column into DataFrame at specified location.

    Raises a ValueError if `column` is already contained in the DataFrame,
    unless `allow_duplicates` is set to True.

    Parameters
    ----------
    loc : int
        Insertion index. Must verify 0 <= loc <= len(columns).
    column : str, number, or hashable object
        Label of the inserted column.
    value : Scalar, Series, or array-like
        Content of the inserted column.
    allow_duplicates : bool, optional, default lib.no_default
        Allow duplicate column labels to be created.

    See Also
    --------
    Index.insert : Insert new item by index.

    Examples
    --------
    >>> df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
    >>> df
       col1  col2
    0     1     3
    1     2     4
    >>> df.insert(1, "newcol", [99, 99])
    >>> df
       col1  newcol  col2
    0     1      99     3
    1     2      99     4
    >>> df.insert(0, "col1", [100, 100], allow_duplicates=True)
    >>> df
       col1  col1  newcol  col2
    0   100     1      99     3
    1   100     2      99     4

    Notice that pandas uses index alignment in case of `value` from type `Series`:

    >>> df.insert(0, "col0", pd.Series([5, 6], index=[1, 2]))
    >>> df
       col0  col1  col1  newcol  col2
    0   NaN   100     1      99     3
    1   5.0   100     2      99     4

In [152]:
new_df.loc[3] = ['D6', 'Failed', 19]

In [154]:
new_df

  TestCase  Status  Duration
0      TC1  Passed        12
1      TC2  Failed        15
2      TC3  Passed        20
3       D6  Failed        19
4      TC5  Passed        25