In [6]:
import numpy as np
import pandas as pd

array1 = np.array([10, 20, 30])
array2 = np.array([30, 40, 50])

df = pd.DataFrame([array1,array2])
print (df)

    0   1   2
0  10  20  30
1  30  40  50

In [7]:
series1 = pd.Series([100,200,300])
series2 = pd.Series([400,500])

df1 = pd.DataFrame([series1,series2])
print (df1)

       0      1      2
0  100.0  200.0  300.0
1  400.0  500.0    NaN

In [13]:
dict_Data = {'Mani' : [10,20,30], 'Alex' : [20,30,60]}
df2 = pd.DataFrame(dict_Data)
print (df2)

   Mani  Alex
0    10    20
1    20    30
2    30    60

In [15]:
"""
1. Creates a DataFrame:
TestCase Module Status Duration
TC1 Login Passed 12
TC2 Login Failed 15
TC3 Payment Passed 20
TC4 Payment Failed 18
TC5 Reports Passed 25
TC6 Reports Passed 22
"""
test_cases = [
    ['TC1', 'Login',  'Passed', 12],
    ['TC2', 'Login',  'Failed', 15],
    ['TC3', 'Payment','Passed', 20],
    ['TC4', 'Payment','Failed', 18],
    ['TC5', 'Reports','Passed', 25],
    ['TC6', 'Reports','Passed', 22]
]
df3 = pd.DataFrame(test_cases, columns = ['TestCase', 'Module', 'Status', 'Duration'])
print (df3)

  TestCase   Module  Status  Duration
0      TC1    Login  Passed        12
1      TC2    Login  Failed        15
2      TC3  Payment  Passed        20
3      TC4  Payment  Failed        18
4      TC5  Reports  Passed        25
5      TC6  Reports  Passed        22

In [ ]:
#2. Groups by Status and counts Passed vs Failed.

df3.groupby('Status')

Status
Failed    2
Passed    4
Name: Module, dtype: int64

In [43]:
#3. Groups by Module and finds average Duration per module.

df3.groupby('Module') ['Duration'].mean()

Module
Login      13.5
Payment    19.0
Reports    23.5
Name: Duration, dtype: float64

In [29]:
"""
1. Creates a DataFrame with defect details:
DefectID Module Severity Status
D1 Login High Open
D2 Payment Medium Closed
D3 Reports Low Open
D4 Login High Closed
D5 Payment Medium Open
"""
defects = [
    ['D1', 'Login',   'High',   'Open'],
    ['D2', 'Payment', 'Medium', 'Closed'],
    ['D3', 'Reports', 'Low',    'Open'],
    ['D4', 'Login',   'High',   'Closed'],
    ['D5', 'Payment', 'Medium', 'Open']
]
df4 = pd.DataFrame(defects, columns = ['DefectID', 'Module', 'Severity', 'Status'])
print (df4)

  DefectID   Module Severity  Status
0       D1    Login     High    Open
1       D2  Payment   Medium  Closed
2       D3  Reports      Low    Open
3       D4    Login     High  Closed
4       D5  Payment   Medium    Open

In [36]:
#2. Prints all Open defects.

df4[df4['Status']=='Open']

  DefectID   Module Severity Status
0       D1    Login     High   Open
2       D3  Reports      Low   Open
4       D5  Payment   Medium   Open

In [42]:
#3. Prints all High severity defects.

df4[df4['Severity']=='High']

  DefectID Module Severity  Status
0       D1  Login     High    Open
3       D4  Login     High  Closed

In [40]:
#4. Counts how many defects are Open vs Closed.

df4.groupby("Status")["DefectID"].count()

Status
Closed    2
Open      3
Name: DefectID, dtype: int64