In [2]:
import os
print (os.getcwd())

F:\AI_ML\Python projects\AI Assignments\Practise\EDA

In [4]:
import pandas as pd
df = pd.read_csv('../docs/SalesDataset_new.csv')

In [5]:
df.head()

,Unnamed: 0,Date,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,0,24-11-2023,Male,34,Beauty,3,50,150
1,1,27-02-2023,Female,26,Clothing,2,500,1000
2,2,13-01-2023,Male,50,Electronics,1,30,30
3,3,21-05-2023,Male,37,Clothing,1,500,500
4,4,06-05-2023,Male,30,Beauty,2,50,100

In [13]:
Q1 = df['Total Amount'].quantile(.25)

In [14]:
Q3 = df['Total Amount'].quantile(.75)

In [15]:
IQR = Q3 - Q1

In [16]:
lower_bound = Q1 - 1.5 * IQR

In [17]:
upper_bound = Q3 + 1.5 * IQR

In [19]:
print(lower_bound)
print(upper_bound)

-1200.0
2160.0

In [45]:
outliers = df[(df['Total Amount'] < lower_bound) | (df['Total Amount'] > upper_bound)]
outliers.to_csv("outliers.csv", index = False)

In [40]:
cleaned_df = df.drop(outliers.index)

In [43]:
cleaned_df.to_csv("cleaned.csv",index=False)